body{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: #6A5ACD;
  /* background: linear-gradient(to right, rgb(64, 10, 212), rgb(129, 9, 209)); */
}

@media(max-width: 320px—480px){
    #myForm{
    width: auto;
    background-color: #ca98ca;
    margin: 40px 40px 10px 40px;
    padding: 40px;
    display: grid;
    row-gap: 15px;
    border-radius: 20px;
}

.form-div{
    background-color: #5980a6;
    display: flex;
    flex-direction: column;
    padding: 15px 30px;
    margin: 1px;
    border-radius: 5px;
}
}


@media(min-width: 481px){
    #myForm{
    width: auto;
    background-color: #ca98ca;
    margin: 90px 600px 10px 600px;
    padding: 40px;
    display: grid;
    row-gap: 15px;
    border-radius: 20px;
}

.form-div{
    background-color: #5980a6;
    display: flex;
    flex-direction: column;
    padding: 15px 30px;
    margin: 1px;
    border-radius: 5px;
}
}


.information{
    margin: 0px;
    display: none;
    color: white;
}

#form-btn{
    color: rgb(31, 31, 34);
    background-color: #66CDAA;
    width: 100%;
    padding: 15px;
    border-radius: 5px;
    cursor: pointer;
}

.habilitar-btn{
    pointer-events: none;
    opacity: 0.5;
    cursor: not-allowed;
}

.phone-group{
    display: flex;
    justify-content: space-between;
}
#phone-code{
    color:white;
    margin-right: 15px;
    background-color: rgb(36, 34, 34);
    border-radius: 5px;
    padding: 5px 5px 5px 5px;
}

#phone{
    width: 100%;
}

input{
    color: white;
    padding: 6px;
    border-radius: 5px;
    background-color: rgb(37, 35, 35);
}

input::placeholder{
    color: rgb(255, 255, 255);
}

h1{
    color: white;
    text-align: center;
}

#countries{
    padding: 6px;
    border-radius: 5px;
    background-color: rgb(36, 34, 34);
    color: rgb(255, 255, 255);
}

#web{
    margin-bottom: 200px;
    color: aliceblue;
    text-align: center;
}

a {
 color: white;
 text-decoration: none;
}

a:hover {
 color: rgb(48, 151, 199);
}

.repuestaErronea{
    outline: 2px solid rgb(228, 20, 20);
}

.repuestaCorrecta{
    outline: 2px solid rgb(16, 235, 53);
}

.mostarInformacion{
    display: block;
}

#registrado{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.contenido2{
    border: 3px solid #00d2ff;
    border-radius: 15px;
    background: #7507db;
    padding: 30px;
    text-align: center;
    max-width: 300px;
}

.contenido2 p{
    color: white;
}